@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
.profile-shadow{
    box-shadow: 0px 2px 12px rgba(196, 196, 196, 0.2);
}
@layer base{
    .normal-text{
        @apply text-[#283341]
    } 
    .gray-text{
        @apply text-[#4C5561]
    }
    .content{
        @apply m-auto w-[80%]
    }
    .btn{
      @apply  bg-brand-color flex items-center gap-4 text-white p-4 rounded-[12px] border w-fit hover:text-black hover:bg-[#FAFAFA] hover:border-[#306BB2]
    }
    .btn-full{
        @apply  bg-[#074DA2] items-center text-center gap-4 text-white p-4 rounded-[5px] border w-full hover:text-black hover:bg-[#FAFAFA] hover:border-[#306BB2]
      }
    .input-gray{
        @apply bg-[#EAF0F6] rounded-[5px] w-full p-3
    }
    .horizontal{
        @apply flex flex-col
    }
    .flexible{
        @apply flex flex-col md:flex-row 
    }
}