@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
.register-bg{
    background: radial-gradient(54.86% 303.97% at 89.63% 18.57%, #8DD8F7 44.79%, #8DD8F7 53.65%);
    filter: blur(400px);
}
@layer base{
    .normal-text{
        @apply text-[#283341]
    } 
    .gray-text{
        @apply text-[#4C5561]
    }
    .content{
        @apply m-auto w-[80%]
    }
    .btn{
      @apply  bg-brand-color flex items-center gap-4 text-white p-4 rounded-[12px] border w-fit hover:text-black hover:bg-[#FAFAFA] hover:border-[#306BB2]
    }
    .horizontal{
        @apply flex flex-col
    }
    .flexible{
        @apply flex flex-col md:flex-row 
    }
}